<!--  -->
<div class="card" style="background: #222222;padding-bottom: 15px;padding-top: 10px;margin-bottom: 15px;">
    <h1 style="margin-left: 15px;">Recentes</h1>
    <hr style="margin: 5px;">
    <div style="width:100%;display:flex;justify-content: space-between;">
        
        <% for( let index = 1; index < 5; index++ ) { %>
            <div id="div_card">
                <div class="card" id="card_recentes">
                    <img id="img_card"
                        src="<%=itens[itens.length-index].linkimg%> "
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-text" id="titulo"><%=itens[itens.length-index].titulo%></h3>
                        <a href="/<%=itens[itens.length-index].slug%> " style="text-align: center;">
                            <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-download" viewBox="0 0 16 16">
                                    <path
                                        d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                                    <path
                                        d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                                </svg>Download</p>
                        </a>
                    </div>
                </div>
            </div>
        <% } %>
       
    </div>
</div>
<style>
    #titulo {
        white-space: nowrap;
        overflow: hidden;
        width: 200px;
        text-overflow: ellipsis;
        font-size: 15px;
    }

    #img_card {
        width: auto;
        min-width: 250px;
        max-width: 250px;
        height: auto;
        max-height: 320px;
        align-self: center;
    }

    #card_recentes,
    #texto_card {
        padding: 0;
        max-width: 250px;
        min-width: 250px;
        background-color: black;
        max-height: 400px;
    }

    #div_card {
        float: left;
        margin: 15px;
    }
</style>