<div class="d-flex justify-content-center" style="margin-top: 15px;">
    <div class="row">
        <h4>Login Admin</h4>
        <hr>
        <div class="card" style="background-color: #222222; ">
            <form action="/login" method="post">
                <label  for="login">Login</label>
                <input type="text" id="login" name="login">
                <label for="senha">Senha</label>
                <input type="password" id="senha" name="senha">
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
    
</div>
