
<div class="card" style="padding: 0px;background: #222222;">
    <div class="card-body">
        <h3>Destaques</h3>
        <hr>
        <% destaques.forEach(destaque => { %>
            <div style="width: auto;background-color: black;padding: 5px;margin-bottom: 5px;" class="card" >
                <div class="row">
                    <img  class="col-6"src="<%=destaque.linkimg%>" style="max-width: 75px;max-height: 75px;min-width: 50px;min-height:75px;">
                    
                <div class="col"style="text-align: left;margin:0px;">
                    <h4 style="font-size:15px;"><%=destaque.titulo%></h4>
                    <hr style="margin-top: auto;margin-bottom: auto;">
                    <a href="/<%=destaque.slug%>">
                    <p style="font-size: 12px;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                        <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                        <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                      </svg> Download</p>
                    </a> 
                </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>
